[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "collinear"]
	path = collinear
	url = https://github.com/blasbenito/collinear
[submodule "distantia"]
	path = distantia
	url = https://github.com/blasbenito/distantia
[submodule "memoria"]
	path = memoria
	url = https://github.com/blasbenito/memoria
[submodule "spatialRF"]
	path = spatialRF
	url = https://github.com/blasbenito/spatialrf
[submodule "virtualPollen"]
	path = virtualPollen
	url = https://github.com/blasbenito/virtualpollen
